<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MRI Energy Testng XML Test Suite" parallel="false">
    <listeners>
        <listener class-name="basicTemplate.configs.listener">
        </listener>
    </listeners>



<!--    <test name="Tree Configuration runner Tests using chrome" >-->
<!--        <parameter name="Browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="basicTemplate.pages.treeConfigurations"/>-->
<!--        </classes>-->
<!--    </test>-->


    <!--   Tests Runner-->
    <test name="Parallel tests with Runner" >
        <parameter name="Browser" value="edge"/>
        <classes>
            <class name="runner.testRunner"/>
        </classes>
    </test>

    <!--   Method Runner-->
    <test name="Tree Configuration runner Tests " >
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="basicTemplate.pages.manageInvoice"/>
        </classes>
    </test>

</suite>
